body {
    font-family:Roboto;
    background-color: #9fc7fc;
    color:#187452;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Roboto Condensed", sans-serif;
    font-size:40pt;
    display: inline;
}

h1 {
    color: black;
}

header {
    text-align:center;
}

#hero, footer {
    color: rgb(24, 108, 80);
    border: 2px solid black;
    background-color: beige;
    text-align:center;
    padding:10px;
}

#hero img {
    max-width:100%;
}

#hobbies {
    color: darkseagreen;
    box-shadow: rgb(24, 108, 80);
    box-shadow: 3pt;
    display:flex;
    flex-direction:column;
    align-items:center;
}


#hobbies h2 {

    margin: .5ex 0px;


}


#photogallery {
    box-shadow: black;
    box-shadow: 1pt;
    text-align: center;
    background-color: beige;
    
}

#photogallery img {
    max-width:100%;
}

#article {
    text-align: center;
    color: honeydew;
    border: 2px solid  bisque;


}

/*#hero img {
    width:300px;
}
*/
#bio {
    text-align:left;
}

#hobbiestitle {
    color: firebrick;
    text-align: center;
    padding:10px;
    font-family:"Roboto Condensed", sans-serif;
    font-size:30pt;
}

#lit p:first-child::first-letter {

    color: black;
    font-size: 230%;
    padding: 0.5ex;
    font-weight:bold;
    background-color: ghostwhite;
    text-shadow:2px 3px;
    box-shadow:3px 3px;

}

#litdiv {
    max-width:100%;
    columns: 30rem;
    text-align:justify;
    
}

#videoheading {
    text-align: center;
}

.videoWrapper {
    position:relative;
    padding-bottom:56.25%; 
    /*
        aspect ratio (height/width for %)
        100% for 1:1
        75% for 4:3
        56.25% for 16:9     
    */
}
#iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
}

/* Contact Form */

 #contact {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:75px;
 }

 #contact fieldset {
    border:2px solid chocolate;
    padding:1em;
    border-radius:1em;
    border-style: groove;
 }

 #contact legend {
    background-color:cornflowerblue;
    color:white;
    padding:1ex;
    border-bottom-right-radius:1ex;
    border-top-left-radius:1ex;   
 }

 #contact fieldset {
    display:grid;
    margin-top:1ex;
    margin-bottom:1ex;
    color: black;
    background-color: ghostwhite;
 }

 #contact label {
    margin:1ex;
 }

 #contact fieldset fieldset {
    grid-template-columns: 30px auto;
    color: black;
    background-color:bisque;
    box-shadow: bisque 5px 3px 5px;
 }

 #submitbutton {
    background-color: ghostwhite;
    border-style: ridge;
    background-image: url(/img/starsolid.gif);
    background-attachment: fixed;
 }



/* Media Queries */

    @media screen and (min-width: 768px) {

        #photogallery figure {
            display:grid;
            grid-template-columns: 2fr 1fr;
        }
        .videoWrapper {
            display:grid;
            grid-template-columns: 2fr 1fr;
            max-width: fit-content;
        }

        #iframe {
           
        }

    }

    @media screen and (min-width:1200px) {

        #photogallery figure {
            display:block;
        }

        #photogallery {
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
        }
        #photogallery hr {
            display:none;
        }
        #photogallery h2 {
            grid-column:1/-1;
        }
        #myVideo {
            
        }
        iframe {
         
        }
    }


    

